@import "tailwindcss";

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

nav>a {
    color: #f5f5f5;

    &:hover {
        border-bottom: 2px solid #ffd79c;
        color: #fff1b1;
    }
}

.estrela {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(255, 218, 34, 0.712);
}

footer {
    background-image: url('/public/pexels-lum3n-44775-406014.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-footer {
    padding-bottom: 8rem;
}

footer>a{
    color:rgb(148, 97, 2);
    font-weight: bold;

    &:hover{
        color:rgb(255, 145, 0);
    }
}